<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ph Directory</title>

    <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
    <h2 class="heading">Update Details</h2>
    <form name="updateForm" class="updateForm" action="/updateDir" method="POST">
        <input type="text" name="userName" value="<%= dir[0].username %>" />
        <input type="number" name="mobile" value="<%= dir[0].mobile %>" />
        <input type="hidden" name="id" value="<%= dir[0]._id %>" />
        <input type="submit" value="Update" />
    </form>
</body>
</html>